body {
    background: #010101;
    overflow: hidden;
    color: #fefefe;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-content: space-evenly;
    grid-gap: 1%;
    height: 100vh;
}

.text {
    
    font-family: sans-serif;
    text-align: center;
}

.inspo {
    color: white;
    align-self: stretch;
    grid-column: 1/2;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
    overflow: scroll;
    z-index: 10;
    grid-row: 1;
}

.column {
    flex: 25%;
    max-width: 24%;
    padding: 0.5% 0.5%;
}

.column img {
    margin-top: 8px;
    vertical-align: center;
}

.metaData {
    grid-column:2/2;
    align-self:start;
    grid-row:1;
}

.enlarged {
    grid-column: 1/2;
    /*   background:red; */
    z-index: 1;
    align-self: center;
    justify-self: center;
}

.enlargedPhoto {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

}

#metaList {
    text-align:left;
    padding-left:none;
    list-style:none;
    line-height:24px;
    font-size: 18px;
}

.submit {
    grid-column:2/2;
    align-self:end;
    grid-row:1;
}

.shareFormWrap {
    grid-column: 2/2;
    align-self:center;
    grid-row:1;
    text-align:left;
}